<div class="jumbotron" style="text-align: left;">
	<div class="container">
	<h3>A simple example in <b>Angular</b> demonstrating custom dropdown directive</h3>
	</div>
	<div class="container"> 
	  <div class="row">
	    <div class="col-md-7">
	      <dropdown dvlist="driverVehicleList" ng-model="selected"selected="selected">
	      </dropdown>
	    </div>
	  </div>
	  <div class = "row">
	    <div class="col-md-12">
	    	<h4>Value from the custom dropdown: <b>{{selected}}</b></h4> 
	    </div>
	  </div>
	</div>
</div>